.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.previewEvenement p{
    background-color: rgb(121, 177, 214) !important;
}

.previewEvenement{
    background-color: rgb(4, 71, 126) !important;
}

a {
    color: rgb(138, 0, 0) !important;
    text-decoration: none !important;
}
